body{
	background-color: lightblue;
	color: #fff;
}

div{
	padding: 20px;
	border-width: 1px;
	border-style: solid;
}

.first{
	border-color: #000;
	margin-bottom: 50px;
}

.second{
	border-color: #800080;
	margin-bottom: 50px;
}

.third{
	border-color: red;
}